<section>
  <div class="container">
    <p class="info center">ALVARO VALENCIA:</p>
 <p>  Trabajo en el Departamento del Seguro en la línea de Buses Sol del Pacífico, que presta servicio a la zona rural de la V Región, Chile</p>
  </div>
    </div>
</section>
<br>
<section>
  <div class="center">
    <%= image_tag 'alvaro.jpg'%>
   
  </div>
  <br>
    <p>Me gusta salir a comer, cine, eventos, ver películas, jugar tenis , bassket y programar</p>
    <p>Me gusta viajar a otros países, conocer nuevas culturas, comidas, y costumbres. Aprender y recoger lo mejor de las personas y de cada parte que visito</p>
    <p>Mis dos últimos trabajos fueron en un emprendimiento personal y como  Asistente de Contabilidad</p>
  </div>
  <%= link_to 'Contacto', :action => :contacto %>
</section>
